@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


nav {
    font-family: cursive;

}

body {
    background-color: #004643;
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2380F'/%3E%3Cstop offset='1' stop-color='%23f40'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E");
background-attachment: fixed;
}

p, h1, li, label {
    color: #7fb58c;
}

.center {
    text-align: center;
}

#pg {
    text-align: center;
}

#h1 {
    text-align: center;
}



#photo {
    text-align: center;
}

nav {
    background-color:#fffffe;
}

nav > a {
    color:#fffffe;
    text-decoration: none;
    padding: 12px 12px;
    display: inline-block;
}

nav > a:hover {
background-color: rgb(217, 181, 243);
}

nav {
  list-style:none;
  display:flex;
  justify-content:center;
}

nav a{
  text-decoration:none;
  color:#abd1c6;
  width:120px;
  display:block;
  text-align:center;
}
nav a:hover{
  font: size 30px;
  transition:0.6s
}

input, textarea {
    background-color: #f9bc60;
    border-radius: 10px;
    color: whitesmoke;
    padding: 10px 14px;
    border: 2px whitesmoke solid;
}

input:focus, textarea:focus {
    background-color: #f9bc60;
    color: #001e1d;
}

input[type=submit], input[type=reset] {
    background-color:#f9bc60;
    color: #001e1d;
}

input[type=submit]:hover, input[type=reset]:hover {
    background-color: rgb(33, 168, 168);
}


