@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


nav {
    font-family: cursive;

}

body {
    background-color: #004643;
    background-color: #ffffff;
/*background-image: url(19852070_6205209.jpg);
background-position-x: px;*/
}

p, h1, li, label {
    color: #7fb58c;
}

.center {
    text-align: center;
}

#pg {
    text-align: center;
}

#h1 {
    text-align: center;
}



#photo {
    text-align: center;
}

nav {
    background-color:#fffffe;
}

nav > a {
    color:#fffffe;
    text-decoration: none;
    padding: 12px 12px;
    display: inline-block;
}

nav > a:hover {
background-color: rgb(217, 181, 243);
}

nav {
  list-style:none;
  display:flex;
  justify-content:center;
}

nav a{
  text-decoration:none;
  color:#abd1c6;
  width:120px;
  display:block;
  text-align:center;
}
nav a:hover{
  font: size 30px;
  transition:0.6s
}

input, textarea {
    background-color: #f9bc60;
    border-radius: 10px;
    color: whitesmoke;
    padding: 10px 14px;
    border: 2px whitesmoke solid;
}

input:focus, textarea:focus {
    background-color: #f9bc60;
    color: #001e1d;
}

input[type=submit], input[type=reset] {
    background-color:#f9bc60;
    color: #001e1d;
}

input[type=submit]:hover, input[type=reset]:hover {
    background-color: rgb(33, 168, 168);
}


@media screen and (max-width: 1500px) {
    body 
    {
        background-color: #004643;
    }

    nav > a:hover 
    {
        background-color: #7fb58c;
    }

}